name: Node.js CI

on:
  push:
    branches:
      - master
  pull_request:
    branches: "**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.1
        with:
          node-version: 12
      - name: Installing dependencies for eslint
        run: yarn global add eslint
      - name: Testing codes
        run: yarn test
